@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap'); */

/* body {
  font-family: 'Manrope', sans-serif;
  @apply bg-grayscale-800 p-4 font-manrope text-white;

}


button {
  @apply rounded-md bg-gradient-to-r from-primary-500 to-primary-700 px-6 py-2 font-semibold text-black hover:opacity-50 disabled:from-grayscale-700 disabled:to-grayscale-700 disabled:text-white disabled:opacity-50;
}

input[type='text'] {
  @apply rounded-md border-2 border-grayscale-700 bg-grayscale-700 px-2 py-1 text-white shadow-lg outline-none  focus:border-primary-500;
} */

:root {
  --color-primary: #1a202c;
  --color-secondary: #4a5568;
  --color-muted: #718096;
  --color-error: #e53e3e;
  --color-success: #38a169;
  --color-warning: #dd6b20;
}

/* Optional base reset */
.typography {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: color 0.2s ease;
}

